* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body, html {
    background-color: #000;
}

.body__main {
    display: none;
}

.body__main.visible {
    display: block;
}

.loading {
    background-color: #dbdbdb;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    padding: 100px 0px;
    flex-direction: column-reverse;
    overflow: hidden;
}

.loading.none {
    display: none;
}

.counter {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #484848;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
}

.circle {
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    perspective: 100px;
}

.circle.while {
    animation: circle 0.7s cubic-bezier(0.1, 0.8, 0.7, 1) infinite;
}

@keyframes circle {
    0% {
        transform: translateY(10px) rotateX(50deg);
    }

    50% {
        transform: translateY(-50px) rotateX(0deg);
    }

    100% {
        transform: translateY(10px) rotateX(50deg);
    }
}

.circle.after {
    transform: translateY(-50px) rotateX(0deg);
    animation: none;
}

.circle.box {
    transition: 0.5s;
    transform: scale(100);
}

.line {
    width: 60px;
    height: 7px;
    background-color: #000;
    border-radius: 5px;
}

.header {
    padding: 20px 10px;
    background-color: #000000;
    opacity: 0;
    width: 100%;
}

.header.visible {
    animation: header 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-fill-mode: forwards;
}

@keyframes header {
    0% {
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0%;
    }
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.header__market {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header__img {
    width: 70px;
}

.header__text {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
}

.header__nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.header__nav-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    transition: 0.5s;
}

.header__nav-link:hover {
    color: #bebebe;
}

.header__button {}

.header__button-img {}

.header__button-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #000000;
    padding: 5px 10px;
    border-radius: 5px;
}

.header__button-text:hover {
    border: 2px solid #bebebe;
}

.header__bar-menu {
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.bar {
    background-color: #bebebe;
    width: 35px;
    height: 5px;
    margin-top: 6px;
    border-radius: 2px;
    transition: 0.5s;
}

.header__bar-menu.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.header__bar-menu.change .bar:nth-child(2) {
    opacity: 0;
}

.header__bar-menu.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -7px);
}

.header__menu {
    background-image: linear-gradient(to top left, #000000ee, #4d4d4dee);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -100vh;
    position: fixed;
    transition: 0.5s;
}

.header__menu.change {
    top: 0;
}

.menu__list {
    margin-left: 20px;
    margin-top: 100px;
}

.menu__list-li {
    margin-bottom: 15px;
}

.menu__list-link {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #e5e5e5;
    transition: 0.5s;
}

.menu__list-link:hover {
    color: #a9a9a9;
}

.header__menu .header__button-text {
    position: absolute;
    margin-left: 20px;
    width: 35%;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    transition: 0.5s;
    margin-top: 15px;
}

.header__menu .header__button-text:hover {
    background-color: #ffffff1e;
}

.main {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.main.visible {
    animation: main 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-fill-mode: forwards;
}

@keyframes main {
    0% {
        opacity: 0;
        top: 40%;
    }

    100% {
        opacity: 1;
        top: 22%;
    }
}

.main__body {
    position: relative;
}

.main__body-introduction {
    height: 70vh;
}

.main__introduction-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px auto;
}

.main__introduction-title {
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

.main__introduction-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #b8b8b8;
    margin-top: 20px;
    text-align: center;
    max-width: 1200px;
}

.main__introduction-buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    cursor: pointer;
}

.main__introducion-btn {
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
    color: #000000;
    background-color: #d03ef0;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #000000;
}

.main__introducion-btn:hover {
    border: 2px solid #d03ef0;
    background-color: transparent;
    color: #d03ef0;
}

.main__body-secondSection {
    background-color: #f0eee6;
    width: 100%;
    padding: 300px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 1s ease-out;
}

.main__body-title {
    font-family: 'Space Mono', monospace;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #000000;
    max-width: 900px;
    margin: 0 auto;
    transition: 1s;
}

.span:nth-child(1) {
    color: rgb(144, 148, 21);
}

.span:nth-child(2) {
    color: rgb(15, 170, 100);
}

.span:nth-child(3) {
    color: rgb(16, 16, 174);
}

.span:nth-child(4) {
    color: rgb(183, 25, 133);
}

.main__body-thirdSection {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease-out;
}

.main__thirdSection-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 200px;
    padding: 20px;
}

.main__thirdSection-title {
    font-family: 'Space Mono', monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    transform: translateY(500px);
    transition: 1s;
}

.main__thirdSection-title.show {
    transform: translateY(0);
}

.main__thirdSection-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #7d7d7d;
    margin-top: 20px;
    text-align: center;
    max-width: 100%;
    transform: translateY(500px);
    transition: 0.8s;
}

.main__thirdSection-text.show {
    transform: translateY(0);
}

.main__thirdSection-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
}

.main__thirdSection-btn {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #000;
}

.link {
    color: #000;
}

.main__thirdSection-btn:nth-child(1) {
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.main__thirdSection-btn:nth-child(1):hover {
    background-color: #0000001f;
}

.main__thirdSection-btn:nth-child(2) {
    font-size: 18px;
    border-bottom: 2px solid #000;
}

.main__thirdSection-videoBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main__thirdSection-video {
    width: 100%;
    border-radius: 10px;
    transform: translateY(100%);
    transition: 0.7s;
}

.main__thirdSection-video.show {
    transform: translateY(0);
}

.main__body-fourthSection{
    background-color: #efefdc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    transition: transform 0.7s ease-out;
}

.main__body-fifthSection {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.main__fourthSection-art {
    margin-top: 50px;
    position: relative;
    height: 700px;
    width: 100%;
}

.main__fourthSection-img {
    position: absolute;
    width: 50%;
    transform: translateY(150%);
    transition: 1.3s;
}

.main__fourthSection-img.change {
    transform: translateY(0);
}

.main__fourthSection-video {
    width: 55%;
    position: absolute;
    border-radius: 20px;
    border: none;
    top: 10%;
    left: 5%;
    box-shadow: 10px 10px 30px #707070;
    transform: translateY(150%);
    transition: 1s;
}

.main__fourthSection-video.show {
    transform: translateY(0);
}

.main__fifthSection-art {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 890px;
}

.main__fourthSection-img {
    width: 50%;
    position: absolute;
    right: 0;
}

.main__fourthSection-video {
    width: 55%;
    position: absolute;
    border-radius: 20px;
    border: none;
    top: 10%;
}

.main__body-sixSection {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
    position: absolute;
    width: 100%;
}

.main__security-block {
    background-image: linear-gradient(to top left, #000000, #4d4d4d);
    border-radius: 20px;
    width: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    padding: 10px 10px 150px 10px;
    transition: 1.4s;
}

.main__security-block.show {
    width: 100%;
}

.main__security-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 100px;
}

.main__security-logo {
    font-size: 30px;
    margin-bottom: 20px;
}

.main__security-title {
    font-family: 'Space Mono', monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #efefef;
    text-align: center;
}

.main__security-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #bebebe;
    margin-top: 20px;
    text-align: center;
}

.main__security-btn {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
}

.main__security-btn:nth-child(1) {
    font-size: 20px;
    border: 3px solid #ebebeb;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.5s;
}

.main__security-btn:nth-child(1):hover {
    background-color: #ffffff2e;
}

.main__security-btn:nth-child(2) {
    font-size: 18px;
    border-bottom: 2px solid #ebebeb;
}

.main__security-arts {
    height: 550px;
    position: relative;
    width: 70%;
    margin-top: 100px;
}

.main__security-img {
    transition: 0.5s;
}

.main__security-img:nth-child(1) {
    position: absolute;
    width: 20%;
    left: 10%;
    top: 15%;
}

.main__security-img:nth-child(2) {
    position: absolute;
    width: 17%;
    left: 20%;
    top: 10%;
    box-shadow: 0px 10px 20px #474747;
}

.main__security-img:nth-child(3) {
    position: absolute;
    width: 30%;
    left: 30%;
    box-shadow: -10px 0px 30px #474747;
}

.main__security-img:nth-child(4) {
    position: absolute;
    width: 35%;
    right: 10%;
    transform: rotate(90deg);
    box-shadow: 10px 10px 30px #474747;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top left, #000000, #4d4d4d);
    position: absolute;
    width: 100%;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    width: 90%;
    flex-wrap: wrap;
}

.footer-section {}

.footer-section:nth-child(1) {
    max-width: 400px;
}

.footer-section:nth-child(4) {
    max-width: 300px;
}

.footer-section:nth-child(5) {
    max-width: 400px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
}

.footer-logo_img {
    width: 70px;
}

.footer-logo__p {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 18px;
}

.footer-about {
    margin-top: 10px;
}

.footer-about__p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer-section__following {
    margin-top: 20px;
}

.footer__following-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer__following-img {
    margin-top: 10px;
    transition: 0.5s;
}

.footer__following-img:hover {
    transform: scale(1.1);
}

.footer-section__title {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 20px;
}

.footer-section-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer-section ul {
    margin-top: 15px;
}

.footer-section li {
    margin-top: 10px;
    cursor: pointer;
}

.footer-section li:hover {
    text-decoration: underline;
    color: #bebebe;
}

.footer-section:nth-child(5) form {
    margin-top: 20px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__form-input {
    background-color: transparent;
    border-bottom: 2px solid #bebebe;
}

.footer__form-input::placeholder {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer__form-input.active {
    border-bottom: 2px solid #ff0000;
}

.error {
    color: #ff0000;
    font-family: 'Work sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    text-align: start;
    margin-top: 5px;
}

.error.active {
    display: block;
}

.footer_form-btn {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 16px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s;
}

.footer_form-btn:hover {
    background-color: #ffffff2e;
}

@media (max-width: 1215px) {}

@media (max-width: 1170px) {
    .main__body-introduction {
        padding: 0 20px;
    }

    .main__security-arts {
        height: 300px;
    }
}

@media (max-width: 1162px) {
    .footer-section:nth-child(4) {
        margin-top: 30px;
    }

    .footer-section:nth-child(5) {
        margin-top: 30px;
    }
}

@media (max-width: 980px) {
    .header__body {
        flex-direction: column;
    }

    .header__nav {
        margin-top: 10px;
    }

    .header__singUp {
        margin-top: 20px;
    }

    .header__button-text {
        font-size: 20px;
    }

    .main__introduction-title {
        font-size: 36px;
    }

    .main__introduction-buttons {
        flex-direction: column;
    }

    .main__introducion-btn:nth-child(1) {
        padding: 15px 30px;
    }

    .main__introduction-info {
        margin: 100px auto;
        margin-bottom: 150px;
    }

    .main__body-secondSection {
        padding: 300px 40px;
    }

    .main__body-title {
        font-size: 26px;
    }

    .main__fourthSection-art {
        height: 500px;
    }

    .main__fifthSection-art {
        height: 700px;
    }

    .main__security-img:nth-child(1) {
        display: none;
    }

    .main__security-img:nth-child(2) {
        position: absolute;
        width: 30%;
        left: 0;
        top: 10%;
        box-shadow: 0px 10px 20px #474747;
    }

    .main__security-img:nth-child(3) {
        position: absolute;
        width: 45%;
        left: 20%;
        box-shadow: -10px 0px 30px #474747;
    }

    .main__security-img:nth-child(4) {
        position: absolute;
        width: 45%;
        transform: rotate(90deg);
        box-shadow: 10px 10px 30px #474747;
    }

    .main__security-arts {
        height: 370px;
    }

    .footer__body {
        flex-direction: column;
        gap: 40px;
    }

    .footer-section:nth-child(4) {
        margin-top: 0;
    }

    .footer-section:nth-child(5) {
        margin-top: 0;
    }
}

@media (max-width: 640px) {
    .header__nav {
        display: none;
    }

    .header__singUp {
        display: none;
    }

    .header__body {
        flex-direction: row;
        align-items: center;
    }

    .header__bar-menu {
        display: block;
    }

    .main__introduction-title {
        font-size: 32px;
    }

    .main__introduction-info {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .main__body-title {
        font-size: 24px;
    }

    .main__body-secondSection {
        padding: 200px 20px;
    }

    .main__fourthSection-img {
        display: none;
    }

    .main__fourthSection-video {
        width: 100%;
        left: 0;
        box-shadow: none;
    }

    .main__fourthSection-art {
        height: 200px;
    }

    .main__fifthSection-art {
        height: 400px;
    }

    .main__security-arts {
        height: 270px;
    }
}

@media (max-width: 520px) {
    .header__text {
        font-size: 20px;
    }

    .header__img {
        width: 50px;
    }

    .bar {
        height: 4px;
    }

    .main__introduction-title {
        font-size: 28px;
    }

    .menu__list-link {
        font-size: 22px;
    }

    .menu__list-li {
        margin-bottom: 20px;
    }

    .menu__list {
        padding: 0px 20px 0px 0px;
        margin-left: 10px;
    }

    .header__menu .header__button-text {
        margin-left: 10px;
    }

    .main__body-title {
        font-size: 22px;
    }

    .main__thirdSection-box {
        flex-direction: column;
        gap: 30px;
    }

    .main__thirdSection-title {
        font-size: 24px;
    }

    .main__security-img:nth-child(2) {
        display: none;
    }

    .main__security-img:nth-child(3) {
        display: none;
    }

    .main__security-img:nth-child(4) {
        width: 100%;
        right: 0%;
    }

    .main__security-arts {
        margin-top: 30px;
    }
}

@media (max-width: 327px) {
    .footer_form-btn {
        margin-top: 20px;
    }
}

@media (max-width: 300px) {
    .header__text {
        display: none;
    }

    .header__img {
        width: 70px;
    }

    .header__menu .header__button-text {
        font-size: 18px;
    }

    .main__body-title {
        font-size: 20px;
    }
}