* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #131514;
}

.header {
    padding: 20px 10px;
    background-color: #212922;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.header__market {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header__img {
    width: 70px;
}

.header__text {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}

.header__nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.header__nav-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #bebebe;
}

.header__button {}

.header__button-img {}

.header__button-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #000000;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.header__button-text:hover {
    border: 2px solid #bebebe;
}

.header__bar-menu {
    position: relative;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.bar {
    background-color: #bebebe;
    width: 35px;
    height: 5px;
    margin-top: 6px;
    border-radius: 2px;
    transition: 0.5s;
}

.header__bar-menu.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.header__bar-menu.change .bar:nth-child(2) {
    opacity: 0;
}

.header__bar-menu.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -7px);
}

.header__menu {
    background-image: linear-gradient(to top left, #212922ee, #323d29ee);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -100vh;
    position: fixed;
    transition: 0.5s;
}

.header__menu.change {
    top: 0;
}

.menu__list {
    margin-left: 20px;
    margin-top: 100px;
}

.menu__list-li {
    margin-bottom: 15px;
}

.menu__list-link {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #e5e5e5;
    transition: 0.5s;
}

.menu__list-link:hover {
    color: #a9a9a9;
}

.header__menu .header__button-text {
    position: absolute;
    margin-left: 20px;
    width: 35%;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    transition: 0.5s;
    margin-top: 15px;
}

.header__menu .header__button-text:hover {
    background-color: #ffffff1e;
}

.c-main {
    padding: 0 10px;
}

.c-main__block {
    max-width: 1300px;
    margin: 100px auto;
    display: flex;
}

.c-main__block-part {
}

.c-main__block-part:nth-child(1) {
    width: 40%;
    padding: 40px;
    background-color: #3d5739;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.c-main__block-part:nth-child(2) {
    padding: 60px;
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #202425;
}

.c-main__part-title {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
}

.c-main__part-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
}

.c-main__part-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.c-main__box-info {}

.c-main__info-img {}

.c-main__info-block {}

.c-main__info-title {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
}

.c-main__info-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    margin-top: 5px;
}

.c-main__info-email {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
    margin-top: 10px;
}

.c-main__second-title {
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
}

.c-main__second-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
    margin-top: 5px;
}

.c-main__second-contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.c-main__contact-label {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #fff;
    margin-top: 30px;
}

.c-main__contact-input {
    background-color: #202425;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #2b2f31;
    color: #ffffff;
}

.text {
    height: 300px;
    position: relative;
    border: 1px solid #2b2f31;
}

.c-main__contact-input::placeholder {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #7c7c7c;
}

.c-main__contact-input:focus {
    background-color: #63cf64;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.c-main__contact-input:focus::placeholder {
    color: #000000;
}

.c-main__contact-input.active {
    border: 1px solid #ff0000;
}

.input-box__error {
    color: #ff0000;
    display: none;
    font-family: 'Work sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    text-align: start;
    margin-top: 5px;
}

.input-box__error.active {
    display: block;
}

.c-main__contact-btn {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: #000000;
    padding: 20px;
    border-radius: 15px;
    background-color: #00ff04;
    margin-top: 40px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #00ff04;
}

.c-main__contact-btn:hover {
    background-color: #202425;
    color: #ffffff;
    border: 1px solid #2b2f31;
}

.s-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 100;
}

.s-modal-content {
    background-color: #1a1d1e;
    border: 1px solid #2b2f31;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.s-modal-content__btn {
    font-size: 32px;
    cursor: pointer;
    color: #468e2c;
    position: absolute;
    top: 10px;
    right: 17px;
}

.s-modal-body__txt {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: #b9b9b9;
    margin-top: 10px;
}

.s-modal-body__img-screen {
    width: 130px;
    margin-top: 20px;
}

.s-modal-content__btn:hover {
    color: #35b62c;
}

.s-span {
    font-size: 100px;
    margin-top: 20px;
}

.s-modal.active {
    display: flex;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top left, #141615, #364438);
}

.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    width: 90%;
    flex-wrap: wrap;
}

.footer-section {}

.footer-section:nth-child(1) {
    max-width: 400px;
}

.footer-section:nth-child(4) {
    max-width: 300px;
}

.footer-section:nth-child(5) {
    max-width: 400px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
}

.footer-logo_img {
    width: 70px;
}

.footer-logo__p {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 18px;
}

.footer-about {
    margin-top: 10px;
}

.footer-about__p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer-section__following {
    margin-top: 20px;
}

.footer__following-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer__following-img {
    margin-top: 10px;
    transition: 0.5s;
}

.footer__following-img:hover {
    transform: scale(1.1);
}

.footer-section__title {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 20px;
}

.footer-section-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer-section ul {
    margin-top: 15px;
}

.footer-section li {
    margin-top: 10px;
    cursor: pointer;
}

.footer-section li:hover {
    text-decoration: underline;
    color: #bebebe;
}

.footer-section:nth-child(5) form {
    margin-top: 20px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__form-input {
    background-color: transparent;
    border-bottom: 2px solid #bebebe;
}

.footer__form-input::placeholder {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #ebebeb;
}

.footer_form-btn {
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    cursor: pointer;
    color: #ebebeb;
    font-size: 16px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s;
}

.footer_form-btn:hover {
    background-color: #ffffff2e;
}

@media (max-width: 1170px) {
    .main__body-introduction {
        padding: 0 20px;
    }

    .main__security-arts {
        height: 300px;
    }
}

@media (max-width: 1162px) {
    .footer-section:nth-child(4) {
        margin-top: 30px;
    }

    .footer-section:nth-child(5) {
        margin-top: 30px;
    }
}

@media (max-width: 980px) {
    .header__body {
        flex-direction: column;
    }

    .header__nav {
        margin-top: 10px;
    }

    .header__singUp {
        margin-top: 20px;
    }

    .header__button-text {
        font-size: 20px;
    }

    .main__introduction-title {
        font-size: 36px;
    }

    .main__introduction-buttons {
        flex-direction: column;
    }

    .main__introducion-btn:nth-child(1) {
        padding: 15px 30px;
    }

    .main__introduction-info {
        margin: 100px auto;
        margin-bottom: 150px;
    }

    .main__body-secondSection {
        padding: 300px 40px;
    }

    .main__body-title {
        font-size: 26px;
    }

    .main__fourthSection-art {
        height: 500px;
    }

    .main__fifthSection-art {
        height: 700px;
    }

    .main__security-img:nth-child(1) {
        display: none;
    }

    .main__security-img:nth-child(2) {
        position: absolute;
        width: 30%;
        left: 0;
        top: 10%;
        box-shadow: 0px 10px 20px #474747;
    }

    .main__security-img:nth-child(3) {
        position: absolute;
        width: 45%;
        left: 20%;
        box-shadow: -10px 0px 30px #474747;
    }

    .main__security-img:nth-child(4) {
        position: absolute;
        width: 45%;
        transform: rotate(90deg);
        box-shadow: 10px 10px 30px #474747;
    }

    .main__security-arts {
        height: 370px;
    }

    .footer__body {
        flex-direction: column;
        gap: 40px;
    }

    .footer-section:nth-child(4) {
        margin-top: 0;
    }

    .footer-section:nth-child(5) {
        margin-top: 0;
    }

    .s-main__introduction-title {
        font-size: 36px;
    }

    .s-main__features-title {
        font-size: 28px;
    }
}

@media (max-width: 750px) {
    .c-main__second-title {
        font-size: 28px;
    }

    .c-main__block-part:nth-child(2) {
        padding: 30px;
    }

    .c-main__block-part:nth-child(1) {
        padding: 30px;
    }

    .text::placeholder {
        color: transparent;
    }
}

@media (max-width: 640px) {
    .header__nav {
        display: none;
    }

    .header__singUp {
        display: none;
    }

    .header__body {
        flex-direction: row;
        align-items: center;
    }

    .header__bar-menu {
        display: block;
    }

    .main__introduction-title {
        font-size: 32px;
    }

    .main__introduction-info {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .main__body-title {
        font-size: 24px;
    }

    .main__body-secondSection {
        padding: 200px 20px;
    }

    .main__fourthSection-img {
        display: none;
    }

    .main__fourthSection-video {
        width: 100%;
        left: 0;
        box-shadow: none;
    }

    .main__fourthSection-art {
        height: 200px;
    }

    .main__fifthSection-art {
        height: 400px;
    }

    .main__security-arts {
        height: 270px;
    }

    .main__block-btn {
        font-size: 20px;
        padding: 15px;
    }

    .s-main__introduction-title {
        font-size: 32px;
    }

    .c-main__block {
        flex-direction: column;
        max-width: 400px;
    }

    .c-main__block-part:nth-child(1) {
        width: 100%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .c-main__block-part:nth-child(2) {
        width: 100%;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }

    .text::placeholder {
        color: #7c7c7c;
    }
}

@media (max-width: 520px) {
    .header__text {
        font-size: 20px;
    }

    .header__img {
        width: 50px;
    }

    .bar {
        height: 4px;
    }

    .main__introduction-title {
        font-size: 28px;
    }

    .menu__list-link {
        font-size: 22px;
    }

    .menu__list-li {
        margin-bottom: 20px;
    }

    .menu__list {
        padding: 0px 20px 0px 0px;
        margin-left: 10px;
    }

    .header__menu .header__button-text {
        margin-left: 10px;
    }

    .main__body-title {
        font-size: 22px;
    }

    .main__thirdSection-box {
        flex-direction: column;
        gap: 30px;
    }

    .main__thirdSection-title {
        font-size: 24px;
    }

    .main__security-img:nth-child(2) {
        display: none;
    }

    .main__security-img:nth-child(3) {
        display: none;
    }

    .main__security-img:nth-child(4) {
        width: 100%;
        right: 0%;
    }

    .main__security-arts {
        margin-top: 30px;
    }

    .s-main__introduction-title {
        font-size: 28px;
    }

    .s-main__features-title {
        font-size: 24px;
    }
}

@media (max-width: 440px) {
    .s-main__features-categorie {
        padding: 10px 10px 20px 10px;
    }

    .text::placeholder {
        color: transparent;
    }
}

@media (max-width: 327px) {
    .footer_form-btn {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .block-btn__text {
        font-size: 16px;
    }

    .block-btn__img {
        width: 40px;
    }

    .main__block-btn {
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .header__text {
        display: none;
    }

    .header__img {
        width: 70px;
    }

    .header__menu .header__button-text {
        font-size: 18px;
    }

    .main__body-title {
        font-size: 20px;
    }
}